data/
latex/
output/
outputBACKUP/
notebooks/TRENDY/.ipynb_checkpoints/
MSc_Timeline.xlsx

#PYCACHE
pytests/__pycache__
scripts/core/__pycache__
scripts/all_output/feedbacks/__pycache__
scripts/*/*/*/__pycache__
pytests/.pytest_cache
