notebooks/
data/
latex/
output/
masters_project.egg-info/
masters-proj/
notebooks/TRENDY/.ipynb_checkpoints/
MSc_Timeline.xlsx
MSc_Steps.txt

#PYCACHE
.pytest_cache
tests/__pycache__
scripts/core/__pycache__
scripts/all_output/feedbacks/__pycache__
scripts/all_output/*/*/__pycache__
scripts/devs/*/__pycache__
pytests/.pytest_cache
scripts/figures_and_results/__pycache__
